<form
    (ngSubmit)="handleFormAction($event)"
>
    @if (id) {
        <input name="id" type="text" [value]="id" readOnly hidden />
    }

    @for(stateModelKey of fieldsToDisplayKeys; track stateModelKey) {
        @if(stateModelKey === 'archived' ||
            stateModelKey === 'employed' ||
            stateModelKey === 'rejected' ||
            stateModelKey === 'fired') {
            <div key="stateModelKey">
                @if(!editable) {
                    <app-status-display
                        className="standard"
                        flow="flowRow"
                        [label]="translation(stateModelKey)"
                        [icon]="flattenedObjects(stateModelKey) ? 'task_alt' : 'radio_button_unchecked'"
                    />
                }
            </div>
        }
        @else {
            <div>
                <app-input
                    className="standard"
                    flow="flowRow"
                    [label]="translation(stateModelKey)"
                    [name]="stateModelKey"
                    [type]="stateModelKey === 'password' ? 'password' : 'text'"
                    [readOnly]="!editable"
                    [errorMessage]="actionResponse() && actionResponse().errorFieldValidation
                        ? actionResponse().errorFieldValidation[stateModelKey]
                        : null"
                    [defaultValue]="displayDefaultValue(stateModelKey)!"
                />
            </div>
        }
    }
    
<div class="buttonsContainer">
    @if(showUploadPictureButton && editable) {
        <app-input
            className="uploadButton"
            flow="flowRow"
            [label]="translation('profilePicture')"
            name="profilePicture"
            type="file"
        />
    }
    @if(showUploadCVButton && editable) {
        <app-input
            className="uploadButton"
            flow="flowRow"
            [label]="translation('cvFile')"
            name="file"
            type="file"
        />
    }
    <app-button
        className="submitButton"
        type="submit"
        [text]="translation('saveChanges')"
    />
    </div>
</form>