<div class="paper">
      <form (ngSubmit)="handleFormAction($event)">
        <div id="textEditorMainToolbar" class="selectionSaveToolbar">
          <app-input
            className="standard"
            flow="flowColumn"
            [label]="translation('emailTemplateName')"
            name='emailType'
            type='text'
          />
          <SelectInput
            [label]="translation('emailTemplate')"
            onSelect={handleChangeOnSelectEmailTemplate}
            listDropdown={selectDropdownEmailList}
            [placeholder]="translation('selectEmailTemplate')"
          />
          <div class="buttonsContainer">
            <app-input
              className="uploadButton"
              flow="flowRow"
              type="file"
              [label]="translation('companyLogo')"
              name="companyLogo"
            />
            <app-button
              className="submitButton"
              type="submit"
              [text]="translation('saveChange')"
            />
          </div>
        </div>
        <div id="textEditorToolbar" className={styles.toolbar}>
          <app-button
            className="textButton"
            iconName="paragraph"
            type='button'
            [onClick]="onButtonTextEditorClick('paragraph')"
          />
          <app-button
            className="textButton"
            iconName="format-italic-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('italic')"
          />
          <app-button
            className="textButton"
            iconName="format-bold-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('strong')"
          />
          <app-button
            className="textButton"
            iconName="format-underlined-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('underline')"
          />
          <app-button
            className="extButton"
            iconName="keyboard-return-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('newLine')"
          />
          <app-button
            className="textButton"
            iconName="link-Icon"
            type="button"
            [onClick]="onButtonTextEditorClick('link')"
          />
          <app-button
            className="textButton"
            iconName="superscript-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('superscript')"
          />
          <app-button
            className="textButton"
            iconName="subscript-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('subscript')"
          />
          <app-button
            className="textButton"
            iconName="person-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('targetPersonFullName')"
            [text]="translation('candidateName')"
          />
          <app-button
            className="textButton"
            iconName="account-box-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('hrUserFullNameTemplate')"
            [text]="translation('yourName')"
          />
          <app-button
            className="textButton"
            iconName="business-icon"
            type="button"
            [onClick]="onButtonTextEditorClick('companyNameTemplate')"
            [text]="translation('companyName')"
          />
        </div>
        <div class="textAreaDisplay">
          <textarea
            className="textarea"
            id="editor"
            name="emailText"
            cols="50"
            rows="10"
            (input)="changeWhenTyping()"
            [value]="textAreaText().text"
          ></textarea>
          <div id='preview' class="preview"></div>
        </div>
      </form>
    </div>